.show-container {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.book-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.show-btn {
  height: 40px;
  width: 150px;
  font-family: $font-bold;
  background-color: $secondary;
  font-size: 22px;
}

.show-btn:hover {
  background: $dark;
  color: $light;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}

.show-btn:disabled {
  background: $light;
}
