.login-btn {
  height: 40px;
  width: 150px;
  font-family: $font-bold;
  background-color: $secondary;
  border: 2px solid $primary;
  font-size: 22px;
}

.login-input {
  height: 40px;
  width: 150px;
  font-family: $font-bold;
  background-color: $light;
  border: 2px solid $primary;
  font-size: 22px;
}
