.header-title {
  font-family: "Cereal-ExtraBold";
}

.show-btn {
  margin-left: auto;
  margin-right: auto;
}

.nav-buttons {
  margin: 20px;
}

.nav-btn {
  // display: inline-block;
  height: 40px;
  margin: 10px;
  font-family: $font-bold;
  background-color: $secondary;
  font-size: 0.9em;
  width: 200px;
}

.loggedIn-btn {
  width: 130px;
}

.nav-btn:hover {
  background: $dark;
  color: $secondary;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}

.show-btn:hover:disabled {
  box-shadow: none;
  color: $dark;
}

nav {
  display: flex;
  height: 130px;
  justify-content: space-between;
}

h1 {
  font-size: 3.5em;
  margin: 20px;
  text-align: center;
}

.all-genres {
  margin-bottom: 10px;
}

.nav-welcome {
  text-align: center;
}
