.search-btn {
  background-color: $secondary;
  font-family: $font-bold;
  font-size: 1.3em;
  height: 40px;
  margin-top: 10px;
  width: 35%;
}

.search-btn:hover {
  background: $dark;
  color: $secondary;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}

.search-input {
  background-color: $secondary;
  font-family: $font-bold;
  font-size: 0.9em;
  height: 40px;
  text-align: center;
  width: 35%;
}

.search-input::placeholder {
  color: #6b6b6b;
}

.search-form {
  align-items: center;
  display: flex;
  height: 10vh;
  flex-direction: column;
}
